* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  background: #2e2e36;
  color: white;
}
.heading {
  position: absolute;
  padding-left: 150px;
  font-size: 50px;
  padding-top: 70px;
}
.main {
  padding-top: 100px;
  padding-left: 30px;
  position: absolute;
}
.project-img {
  display: flex;
}
.img {
  padding-top: 200px;
  height: 470px;
  width: 400px;
}
.info-first-pro {
  display: flex;
  font-size: 22px;
  margin-right: 13px;
  text-align: center;
  justify-content: space-around;
  padding-top: 20px;
}
.about {
  padding-top: 100px;
  font-size: 50px;
  padding-left: 150px;
}
.org-line {
  position: absolute;
  padding-top: 130px;
  padding-left: 30px;
}
.description {
  padding-left: 30px;
  padding-top: 50px;
  font-size: 20px;
  position: absolute;
}
.photo {
  height: 200px;
  width: 280px;
  border-radius: 10px;
}
.comp-img-first {
  display: flex;
  padding-left: 700px;
  padding-top: 40px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}
.comp-img-second {
  display: flex;
  padding-left: 700px;
  margin: 5px;
}
icon-bag {
  padding-left: 120px;
  padding-top: 70px;
}
k150 {
  padding-top: 10px;
  padding-left: 110px;
  font-size: 30px;
}
proj {
  padding-left: 30px;
  font-size: 30px;
}
.facts {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  text-align: center;
  align-items: inherit;
}

.k150,
.k100,
.k20 {
  font-size: 30px;
  padding-top: 15px;
}
.proj,
.partners,
.current {
  font-size: 26px;
  padding-top: 10px;
}
.btn {
  padding: 12px 40px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  font-size: 20px;
  display: block;
  margin: 56px auto 0;
  max-width: 236px;
  border-color: white;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .heading {
    padding-top: 80px;
    font-size: 38px;
  }
  .img {
    padding-left: 30px;
    padding-top: inherit;
  }
  .project-img {
    display: inline-block;
  }

  .firstline {
    position: absolute;
    display: inline-block;
    top: 450px;
    left: 460px;
    text-align: start;
  }
  .secondline {
    position: absolute;
    display: inline-block;
    top: 900px;
    left: 460px;
    text-align: start;
  }
  .thirdline {
    position: absolute;
    display: inline-block;
    top: 1390px;
    left: 460px;
    text-align: start;
  }
  .picdwa {
    padding-top: 190px;
  }
  .fourthline {
    position: absolute;
    display: inline-block;
    top: 1870px;
    left: 460px;
    text-align: start;
  }
  .comp-img-first {
    padding-top: 320px;
    padding-left: 20px;
  }
  .comp-img-second {
    padding-left: 20px;
  }
}
